*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
}

body{
    font-family:"Public Sans",sans-serif;
    font-size: 10px;
}

:root{
/* Primary color */
--Blue-950: hsl(233, 26%, 24%);
--Green-500: hsl(136, 64%, 51%);
--Cyan-400: hsl(192, 69%, 51%);

/* Neutral color */

--Gray-600: hsl(233, 8%, 62%);
--Gray-100: hsl(220, 16%, 96%);
--Gray-50: hsl(0, 0%, 98%);
--White: hsl(0, 100%, 100%);
}

.container{
    max-width: 80%;
    margin:0 auto;
}

h1{
    font-size: 4.8em;
    color: var(--Blue-950);
    max-width: 40rem;
    font-weight: 400;
    margin-bottom: 2.4rem;
}

h2{
    font-size: 3.2em;
    color: var(--Blue-950);
    font-weight: 400;
    margin-bottom: 4rem;
}

h3{
    font-size: 2.4em;
    font-weight: 400;
    color: var(--Blue-950);
}

h4{
    font-size: 1.8em;
    font-weight: 300;
    color: var(--Blue-950);
}

p{
    font-size: 1.8em;
    color: var(--Gray-600);
}

header{
    background-color: var(--White);
    padding: 2rem;
}

.header-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-nav ul{
    display: flex;
    list-style: none;
    align-items: center;
    gap: 3rem;
}

li a{
    display: block;
    color: var(--Gray-600);
    text-decoration: none;
    font-size: 1.8em;
}

button{
    border: none;
    padding: 1.5rem 3rem;
    background-image: linear-gradient(to bottom,#32d25d,#2cb6d8);
    border-radius:4rem;
    font-size: 1.8em;
    color: var(--White);
}


main{
    position: relative;
    overflow: hidden;
}

.hero-section{
    padding: 18rem 0;
    background-color: var(--Gray-50);
}

.hero-section .container{
    position: relative;
    z-index: 2;
}

.hero-section p{
    margin-bottom: 2.4rem;
    max-width: 45rem;
    line-height: 2.8rem;
}

.bg-intro-desktop{
    position: absolute;
    top: -27rem;
    right: -44rem;
    z-index: 1;
}

.image-mockups{
    position: absolute;
    top:-17rem;
    right:-13rem;
    z-index: 1;
}

.choosing-digitalbank{
    padding: 10rem 0;
    background-color: var(--Gray-100);
}

.digitalbank-advantages{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    margin-top: 5rem;
}

.digitalbank-advantages h3{
    margin: 2rem 0;
}

.digitalbank-advantages p{
    max-width:30rem;
    line-height: 2.4rem;
}


.latest-articles{
    padding: 10rem 0;
    background-color: var(--Gray-50);
}

.articles-list{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.list{
    background-color: var(--White);
    border-radius: 1rem;
}

.images-articles{
    height: 20rem;
}

.images-articles img{
    width:100%;
    height: 100%;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

article{
    padding: 2rem;
}

article span{
    color: var(--Gray-600);
    font-weight: 300;
}

h4{
    margin-top: 2rem;
    margin-bottom: 1rem;
    max-width: 30rem;
    font-weight: 700;
}

article p{
    font-size: 1.2em;
    max-width: 22rem;
}


footer{
    background-color: var(--Blue-950);
    padding: 5rem 0;
    position: relative;
}

footer .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10rem;
}

.footer-socials{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 4rem;
}

.footer-nav ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

footer button{
    margin-bottom: 3rem;
}

.attribution {
    font-size: 1.1em;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 1rem;
    margin: auto;
    text-align: center;
}
    .attribution a {
    color:var(--White);
    text-decoration: none;
}

@media screen and (max-width:1240px){
    .container{
        max-width: 90%;
    }

    .bg-intro-desktop{
        right: -57rem;
    }

}

@media screen and (max-width:1140px){
    .bg-intro-desktop{
        display: none;
    }

    .image-mockups{
        position: relative;
        width: 100%;
        right: 0;
        top: -20rem;
    }

    .hero-section{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        padding: 6rem 0;
    }

    .hero-content{
        margin-top: -20rem;
        text-align: center;
    }

    h1{
        max-width: 80rem;
    }

    .hero-section p{
        max-width: 90rem;
    }


    .digitalbank-advantages{
        display: grid;
        grid-template-columns: auto auto;
        gap: 3rem;
    }

    .digitalbank-advantages p{
        max-width: 70rem;
    }

    .articles-list{
        display: grid;
        grid-template-columns: auto auto;
        gap: 3rem;
    }

    .images-articles img{
        object-fit: cover;
    }

    article p{
        max-width: 70rem;
    }
    
}

@media screen and (max-width:970px){
    .header-nav ul{
        gap: 1rem;
    }

    .footer-nav{
        gap: 3rem;
    }
}

@media screen and (max-width:765px){



    footer .container{
        flex-direction: column;
        gap: 3rem;
        justify-content: center;
        text-align: center;
    }

    .footer-nav{
        flex-direction: column;
        text-align: center;
    }
}